option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_CONNECTION: mysql
    DB_HOST: biblioteca-cecyte-db.cxsoaom8ibvj.us-east-2.rds.amazonaws.com
    DB_PORT: 3306
    DB_DATABASE: biblioteca_cecyte
    DB_USERNAME: cecyteadmin
    DB_PASSWORD: bbiblioteca-cecytezz2025
    APP_ENV: production
    APP_DEBUG: false
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 512M
    max_execution_time: 120
    zlib.output_compression: on