# .ebextensions/04-laravel.config
container_commands:
  01_migrate:
    command: "php /var/app/current/artisan migrate --force"
    ignoreErrors: true
  02_cache:
    command: "php /var/app/current/artisan config:cache"
    ignoreErrors: true
  03_route_cache:
    command: "php /var/app/current/artisan route:cache"
    ignoreErrors: true