# .ebextensions/04-apache.config
files:
  "/etc/httpd/conf.d/000_my_app.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        DocumentRoot /var/www/html/public
        <Directory /var/www/html/public>
          Require all granted
          AllowOverride All
        </Directory>
      </VirtualHost>