# .ebextensions/07-loadbalancer-fix.config
option_settings:
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elb:listener:443:
    ListenerEnabled: false    # ← Deshabilitar HTTPS
  aws:elb:listener:80:
    ListenerEnabled: true     # ← Solo HTTP
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP